---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Garcia Devrient Valentin">

	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold justify-center flex-row">
				Acerca de mi
			</h1>
			<h2>Desarrollador Web y estudiante de Ingenieria en Sistemas. Argentino 🇦🇷, residente en su capital La Plata. Creador de soluciones informaticas creativas, consistentes y unicas. </h2>
		</section>
	</main>
</Layout>

