---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contacto  - Garcia Devrient Valentin">
    <main>
        <section class="w-full lg:w-[740px] mx-auto py-44">
            <h1 class="text-white text-5xl font-bold justify-center flex-row">
                Contacto
            </h1>
            <h2>Si deseas contactarme, puedes hacerlo a través de mi correo electrónico<h2/>
        </section>
    </main>
</Layout>