---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro"
import Badge from "../components/Badge.astro"
import Presentation from '../components/Presentation.astro';
---

<Layout title="Inicio - Garcia Devrient Valentin">
    <main>
    <Presentation />
    </main>
</Layout>

