---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Proyectos - Garcia Devrient Valentin">
    <main>
        <section class="w-full lg:w-[740px] mx-auto py-44">
            <h1 class="text-white text-5xl font-bold justify-center flex-row">
                Proyectos
            </h1>
            <h2>En esta sección encontrarás los proyectos que he realizado y en los que estoy trabajando.</h2>
        </section>
    </main>
</Layout>
