---

---
<header class="flex justify-between items-center py-3 w-[1120px]">
    <img src="/veilen.jpg" alt="Veilen Icon" class="rounded-full w-16 h-16">
    <nav class="flex flex-row gap-x-10 opacity-85 ">
        <a class="" href="/">Home</a>
        <a class="" href="/about">About</a>
        <a class="" href="/projects">Projects</a>
        <a class="" href="/contact">Contact</a>
    </nav>
</header>