---
import Badge from "./Badge.astro";

---


<section class="w-full lg:w-[740px] mx-auto py-40">
    <div class="flex text-white text-5xl font-bold items-center flex-row py-3">
        <h1 class="text-white text-5xl font-bold justify-center">
            Buenas! soy Veilen
        </h1>
        <Badge>Disponible para contrataciones</Badge>
    </div>
    <h2>Desarrollador Web y estudiante de Ingenieria en Sistemas. Argentino <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg" alt="Argentina Flag" class="inline-block w-6 h-4">, residente en su capital La Plata. Creador de soluciones informaticas creativas, consistentes y unicas. </h2>
</section>

 
    